{{ define "index" }}
<!DOCTYPE html>
<html>
  <head>
    <style>
      textarea {
        font-size: 16px;
        font-family: Courier New, Arial;
        width: 100%;
        height: 100vw;
      }
    </style>
  </head>
  
  <body>
    <form action="/format/json" method="post">
      <div><input type="submit" /></div>
      </br>
      <textarea name="text"></textarea>
    </form>
  </body>
</html>
{{ end }}
